<%- include('partials/header') %>
    <h3 id="notfound-title">La page demandée n'a pas été trouvée: 404</h3>
    <div id="notfound-gif">
        <img src="/img/notfound.gif" alt="Psykokwak is lost">
    </div>
    <p id="back-to-main-page"><a href="/" id="back-to-main-page-link">Revenir à la liste</a></p>
<%- include('partials/footer') %>